*{
    font-family: sans-serif;
}

body{
    margin: 0%;
    width: 100%;
}
.form{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    width: fit-content;
    border: #ececec solid 2px;
    transition: 0.5s;
    height: fit-content;
    display: flex;
    justify-self: center;
}
.form:has(input:focus), .form:focus{
    border: #7a7a7a solid 2px;
}
input{
    border: solid #fff 1px;
}
input[type="text"]{
    width: 500px;
}
input[type="text"]:focus{
    outline: none;
}
.div__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn{
    padding: 8px 15px;
    background-color: #dfdfdf;
    border: #dfdfdf solid 2px;
    color: #000;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    transition: 0.5s;
}
.btn:hover{
    border-color: #989898;
    color: #000;
    cursor: pointer;

}
a{
    color: #000;
    text-decoration: none;
}

nav{
    justify-self: end;
    padding-right: 50px;
}
ul{
    display: flex;
    gap: 30px;
    justify-content: center;
}
li{
    list-style: none;
    padding-bottom: 10px;
}

img{
    width: 300px;
    display: flex;
    justify-self: center;
    padding: 50px;
}